([
(
    // All in a row; All in corner
   "#######
    #_#_#b#
    #_#b#_#
    #b#_#_#
    #__@__#
    #######"
),
(
    // Relaxes previous rules
   "########
    ##_____#
    ####b__#
    #@_____#
    ####__b#
    #__b___#
    ########"
),
(
    // What happens with a single block
   "######
    #____#
    #__b_#
    #_@__#
    #____#
    ######"
),
(
    // Corner; many possibilities that don't require row;
   "############
    ####_____###
    ####__b__###
    #________###
    #b_________#
    #____@_____#
    #________b_#
    ###________#
    ###b____####
    ###_____####
    ############"
),
(
    // All in one row, all against wall, (harder) unreachable
   "#########
    #_@-___##
    #-###__##
    #___-__##
    #_b_#####
    #___-___#
    #_b_#_b_#
    #-__-___#
    #########"
),
(
    // Template
   "#####
    #___#
    #___#
    #___#
    #####"
),
(
    // Sandbox
   "#######################
    #@___--_______________#
    #_b_____#_____________#
    #_#_p-O_#_____________#
    #_#__-________________#
    #_____##______________#
    #__#_###______________#
    #_###_________________#
    #######################"
),
])
