([
    (
       "###########
        #@________#
        #_b_____#_#
        #_#_p_O_#_#
        #_#__-____#
        #_#___##__#
        #__#_###__#
        #_###_____#
        ###########"
    ),
])
