([
(
    // All in a row. All in corner
   "#######
    #_#_#b#
    #_#b#_#
    #b#_#_#
    #__@__#
    #######"
),
(
    // Relaxes previous rules
   "########
    ##_____#
    ####b__#
    #@_____#
    ####__b#
    #__b___#
    ########"
),
(
    // What happens with a single block. Corner
   "######
    #____#
    #__b_#
    #_@__#
    #____#
    ######"
),
(
    // Corner. Many possibilities that don't require row
   "############
    ####_____###
    ####__b__###
    #________###
    #b_________#
    #____@_____#
    #________b_#
    ###________#
    ###b____####
    ###_____####
    ############"
),
(
    // Introduction to platforms. Corner. Rows easily disprovable
   "#########
    #-______#
    #__b____#
    ##-##-###
    #_______#
    #__-b@__#
    ######--#
    #########"
),
(
    // Rows. All against wall. Has hint for unreachable
   "#########
    #_@-___##
    #-###__##
    #___-__##
    #_b_#####
    #___-___#
    #_b_#_b_#
    #-__-___#
    #########"
),
(
    // Introduces pits. Very simple solution 
    // Has clever solution by moving ball back to player spawn
   "#########
    #---#___#
    #-_b#_b_#
    #@__O___#
    #-__#####
    #---#####
    #########"
),
(
    // Block pair next to wall. Very simple to solve
   "#######
    #__b__#
    #OOOOO#
    #_b_b_#
    #__@__#
    #######"
),
(
    // Introduces Pullables. Corner. Next to wall
   "###########
    #_____#####
    #_________#
    ####_@###-#
    #####pb___#
    #####_____#
    ###########"
),
(
    // Cool level. Only win by making a 2x2 block. A bit too hard
   "#######
    #_@-_p#
    #_b___#
    #__b__#
    #_p_-_#
    #######"
),
(
    // Template
   "#####
    #___#
    #___#
    #___#
    #####"
),
(
    // Sandbox
   "#######################
    #@___--_______________#
    #_b_____#_____________#
    #_#_p-O_#_____________#
    #_#__-________________#
    #_____##______________#
    #__#_###______________#
    #_###_________________#
    #######################"
),
])
